Repository IceDev528/material-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @michaldudak, @m4theushw, @mnajdova, @siriwatknp, @danilo-leal, @hbjORbj

.github/CODEOWNERS:

/scripts/ @michaldudak @m4theushw

# Packages

/packages/mui-base/ @michaldudak @mnajdova
/packages/mui-icons-material/ @michaldudak @siriwatknp
/packages/mui-joy/ @siriwatknp @danilo-leal
/packages/mui-material/ @mnajdova @danilo-leal
/packages/mui-system/ @mnajdova @siriwatknp

# Components - Inputs

/packages/mui-base/src/AutocompleteUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/ButtonUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/FormControlUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/InputUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/MultiSelectUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/OptionGroupUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/OptionUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/SelectUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/SliderUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/SwitchUnstyled/ @michaldudak @mnajdova

/packages/mui-material/src/Autocomplete/ @michaldudak @mnajdova
/packages/mui-material/src/Button/ @michaldudak @mnajdova
/packages/mui-material/src/ButtonBase/ @michaldudak @mnajdova
/packages/mui-material/src/ButtonGroup/ @michaldudak @mnajdova
/packages/mui-material/src/Checkbox/ @michaldudak @mnajdova
/packages/mui-material/src/Fab/ @michaldudak @mnajdova
/packages/mui-material/src/FilledInput/ @michaldudak @mnajdova
/packages/mui-material/src/FormControl/ @michaldudak @mnajdova
/packages/mui-material/src/FormControlLabel/ @michaldudak @mnajdova
/packages/mui-material/src/FormGroup/ @michaldudak @mnajdova
/packages/mui-material/src/FormHelperText/ @michaldudak @mnajdova
/packages/mui-material/src/FormLabel/ @michaldudak @mnajdova
/packages/mui-material/src/IconButton/ @michaldudak @mnajdova
/packages/mui-material/src/Input/ @michaldudak @mnajdova
/packages/mui-material/src/InputAdornment/ @michaldudak @mnajdova
/packages/mui-material/src/InputBase/ @michaldudak @mnajdova
/packages/mui-material/src/InputLabel/ @michaldudak @mnajdova
/packages/mui-material/src/NativeSelect/ @michaldudak @mnajdova
/packages/mui-material/src/OutlinedInput/ @michaldudak @mnajdova
/packages/mui-material/src/Radio/ @michaldudak @mnajdova
/packages/mui-material/src/RadioGroup/ @michaldudak @mnajdova
/packages/mui-material/src/Rating/ @michaldudak @mnajdova
/packages/mui-material/src/Select/ @michaldudak @mnajdova
/packages/mui-material/src/Slider/ @michaldudak @mnajdova
/packages/mui-material/src/Switch/ @michaldudak @mnajdova
/packages/mui-material/src/TextField/ @michaldudak @mnajdova
/packages/mui-material/src/ToggleButton/ @michaldudak @mnajdova
/packages/mui-material/src/ToggleButtonGroup/ @michaldudak @mnajdova
/packages/mui-material/src/useAutocomplete/ @michaldudak @mnajdova
/packages/mui-material/src/useTouchRipple/ @michaldudak @mnajdova

# Components - Data display

/packages/mui-base/src/BadgeUnstyled/ @hbjORbj @siriwatknp @michaldudak

/packages/mui-material/src/Avatar/ @hbjORbj @siriwatknp
/packages/mui-material/src/AvatarGroup/ @hbjORbj @siriwatknp
/packages/mui-material/src/Badge/ @hbjORbj @siriwatknp
/packages/mui-material/src/Chip/ @hbjORbj @siriwatknp
/packages/mui-material/src/Divider/ @hbjORbj @siriwatknp
/packages/mui-material/src/Icon/ @hbjORbj @siriwatknp
/packages/mui-material/src/List/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItem/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemAvatar/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemButton/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemIcon/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemSecondaryAction/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemText/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListSubheader/ @hbjORbj @siriwatknp
/packages/mui-material/src/SvgIcon/ @hbjORbj @siriwatknp
/packages/mui-material/src/Table/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableBody/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableCell/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableContainer/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableFooter/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableHead/ @hbjORbj @siriwatknp
/packages/mui-material/src/TablePagination/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableRow/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableSortLabel/ @hbjORbj @siriwatknp
/packages/mui-material/src/Tooltip/ @hbjORbj @siriwatknp
/packages/mui-material/src/Typography/ @hbjORbj @siriwatknp

# Components - Feedback

/packages/mui-material/src/Alert/ @siriwatknp @hbjORbj
/packages/mui-material/src/AlertTitle/ @siriwatknp @hbjORbj
/packages/mui-material/src/Backdrop/ @siriwatknp @hbjORbj
/packages/mui-material/src/CircularProgress/ @siriwatknp @hbjORbj
/packages/mui-material/src/Dialog/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogContentText/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogTitle/ @siriwatknp @hbjORbj
/packages/mui-material/src/LinearProgress/ @siriwatknp @hbjORbj
/packages/mui-material/src/Snackbar/ @siriwatknp @hbjORbj
/packages/mui-material/src/SnackbarContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/Skeleton/ @siriwatknp @hbjORbj

# Components - Surfaces

/packages/mui-material/src/Accordion/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionDetails/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionSummary/ @siriwatknp @hbjORbj
/packages/mui-material/src/AppBar/ @siriwatknp @hbjORbj
/packages/mui-material/src/Card/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardActionArea/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardHeader/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardMedia/ @siriwatknp @hbjORbj
/packages/mui-material/src/Paper/ @siriwatknp @hbjORbj
/packages/mui-material/src/Toolbar/ @siriwatknp @hbjORbj
/packages/mui-material/src/useScrollTrigger/ @siriwatknp @hbjORbj

# Components - Navigation

/packages/mui-base/src/MenuItemUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/MenuUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TabPanelUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TabsListUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TabsUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TabUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TablePaginationUnstyled/ @hbjORbj @mnajdova @michaldudak

/packages/mui-material/src/BottomNavigation/ @hbjORbj @mnajdova
/packages/mui-material/src/BottomNavigationAction/ @hbjORbj @mnajdova
/packages/mui-material/src/Breadcrumbs/ @hbjORbj @mnajdova
/packages/mui-material/src/Drawer/ @hbjORbj @mnajdova
/packages/mui-material/src/Link/ @hbjORbj @mnajdova
/packages/mui-material/src/Menu/ @hbjORbj @mnajdova
/packages/mui-material/src/MenuItem/ @hbjORbj @mnajdova
/packages/mui-material/src/MenuList/ @hbjORbj @mnajdova
/packages/mui-material/src/MobileStepper/ @hbjORbj @mnajdova
/packages/mui-material/src/Pagination/ @hbjORbj @mnajdova
/packages/mui-material/src/PaginationItem/ @hbjORbj @mnajdova
/packages/mui-material/src/SpeedDial/ @hbjORbj @mnajdova
/packages/mui-material/src/SpeedDialAction/ @hbjORbj @mnajdova
/packages/mui-material/src/SpeedDialIcon/ @hbjORbj @mnajdova
/packages/mui-material/src/Step/ @hbjORbj @mnajdova
/packages/mui-material/src/StepButton/ @hbjORbj @mnajdova
/packages/mui-material/src/StepConnector/ @hbjORbj @mnajdova
/packages/mui-material/src/StepContent/ @hbjORbj @mnajdova
/packages/mui-material/src/StepIcon/ @hbjORbj @mnajdova
/packages/mui-material/src/StepLabel/ @hbjORbj @mnajdova
/packages/mui-material/src/Stepper/ @hbjORbj @mnajdova
/packages/mui-material/src/SwipeableDrawer/ @hbjORbj @mnajdova
/packages/mui-material/src/Tab/ @hbjORbj @mnajdova
/packages/mui-material/src/Tabs/ @hbjORbj @mnajdova
/packages/mui-material/src/TabScrollButton/ @hbjORbj @mnajdova
/packages/mui-material/src/usePagination/ @hbjORbj @mnajdova

# Components - Layout

/packages/mui-material/src/Box/ @siriwatknp @hbjORbj
/packages/mui-material/src/Container/ @siriwatknp @hbjORbj
/packages/mui-material/src/Grid/ @siriwatknp @hbjORbj
/packages/mui-material/src/Hidden/ @siriwatknp @hbjORbj
/packages/mui-material/src/ImageList/ @siriwatknp @hbjORbj
/packages/mui-material/src/ImageListItem/ @siriwatknp @hbjORbj
/packages/mui-material/src/ImageListItemBar/ @siriwatknp @hbjORbj
/packages/mui-material/src/Stack/ @siriwatknp @hbjORbj
/packages/mui-material/src/Unstable_Grid2/ @siriwatknp @hbjORbj

# Components - Utils

/packages/mui-base/src/ClickAwayListener/ @mnajdova @michaldudak
/packages/mui-base/src/ModalUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/NoSsr/ @mnajdova @michaldudak
/packages/mui-base/src/PopperUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/Portal/ @mnajdova @michaldudak
/packages/mui-base/src/TextareaAutosize/ @mnajdova @michaldudak
/packages/mui-base/src/TrapFocus/ @mnajdova @michaldudak

/packages/mui-material/src/ClickAwayListener/ @mnajdova @michaldudak
/packages/mui-material/src/Collapse/ @mnajdova @michaldudak
/packages/mui-material/src/CssBaseline/ @mnajdova @michaldudak
/packages/mui-material/src/Fade/ @mnajdova @michaldudak
/packages/mui-material/src/GlobalStyles/ @mnajdova @michaldudak
/packages/mui-material/src/Grow/ @mnajdova @michaldudak
/packages/mui-material/src/Modal/ @mnajdova @michaldudak
/packages/mui-material/src/NoSsr/ @mnajdova @michaldudak
/packages/mui-material/src/Popover/ @mnajdova @michaldudak
/packages/mui-material/src/Popper/ @mnajdova @michaldudak
/packages/mui-material/src/Portal/ @mnajdova @michaldudak
/packages/mui-material/src/ScopedCssBaseline/ @mnajdova @michaldudak
/packages/mui-material/src/Slide/ @mnajdova @michaldudak
/packages/mui-material/src/TextareaAutosize/ @mnajdova @michaldudak
/packages/mui-material/src/transitions/ @mnajdova @michaldudak
/packages/mui-material/src/Unstable_TrapFocus/ @mnajdova @michaldudak
/packages/mui-material/src/useMediaQuery/ @mnajdova @michaldudak
/packages/mui-material/src/Zoom/ @mnajdova @michaldudak

[core] Move renovate config to the repository root (#34180)
  renovate.json
Owners: none

[website] Link Toolpad landing page
  docs/pages/core.tsx
  docs/pages/index.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/productCore/CoreHero.tsx
  docs/src/modules/components/MuiProductSelector.tsx
Owners: none

[docs] Update sponsors (#34157)
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/GoldSponsors.tsx
Owners: none

[website] Update job descriptions (#34134)
  docs/src/pages/careers/ROLE_TEMPLATE.md
  docs/src/pages/careers/designer.md
  docs/src/pages/careers/developer-advocate.md
  docs/src/pages/careers/developer-experience-engineer.md
  docs/src/pages/careers/engineering-manager.md
  docs/src/pages/careers/full-stack-engineer.md
  docs/src/pages/careers/people-operation-manager.md
  docs/src/pages/careers/product-engineer.md
  docs/src/pages/careers/product-manager.md
  docs/src/pages/careers/react-engineer-core.md
  docs/src/pages/careers/react-engineer-x.md
  docs/src/pages/careers/react-support-engineer.md
  docs/src/pages/careers/support-agent.md
  docs/src/pages/careers/technical-product-manager.md
Owners: none

[Steps] Use structured / semantic markup for steps and steppers (#34138)
  docs/pages/material-ui/api/step.json
  docs/pages/material-ui/api/stepper.json
  docs/translations/api-docs/step/step.json
  docs/translations/api-docs/stepper/stepper.json
  packages/mui-material/src/Step/Step.d.ts
  packages/mui-material/src/Step/Step.js
  packages/mui-material/src/Step/Step.spec.tsx
  packages/mui-material/src/Step/Step.test.js
  packages/mui-material/src/Stepper/Stepper.d.ts
  packages/mui-material/src/Stepper/Stepper.js
  packages/mui-material/src/Stepper/Stepper.spec.tsx
  packages/mui-material/src/Stepper/Stepper.test.tsx
Owners: @hbjORbj, @mnajdova

[docs] Add `mui-color-input`, `mui-chips-input` and `mui-tel-input` into the related projects page (#34123)
  docs/data/material/discover-more/related-projects/related-projects.md
Owners: none

[website] Allow deep linking to sponsors
  docs/src/components/home/Sponsors.tsx
  docs/src/components/typography/SectionHeadline.tsx
Owners: none

[docs] Add "extend component sizes and variants" section (#34050)
  docs/data/joy/components/aspect-ratio/VariantsRatio.js
  docs/data/joy/components/aspect-ratio/VariantsRatio.tsx
  docs/data/joy/components/aspect-ratio/aspect-ratio.md
  docs/data/joy/components/avatar/AvatarVariants.js
  docs/data/joy/components/avatar/AvatarVariants.tsx
  docs/data/joy/components/avatar/AvatarVariants.tsx.preview
  docs/data/joy/components/avatar/avatar.md
  docs/data/joy/components/badge/badge.md
  docs/data/joy/components/breadcrumbs/breadcrumbs.md
  docs/data/joy/components/button/button.md
  docs/data/joy/components/checkbox/checkbox.md
  docs/data/joy/components/chip/chip.md
  docs/data/joy/components/list/list.md
  docs/data/joy/components/menu/menu.md
  docs/data/joy/components/radio/radio.md
  docs/data/joy/components/select/select.md
  docs/data/joy/components/slider/slider.md
  docs/data/joy/components/switch/switch.md
  docs/data/joy/components/tabs/tabs.md
  docs/data/joy/components/text-field/text-field.md
  docs/data/joy/customization/themed-components/themed-components.md
Owners: none

v5.10.4 (#34197)
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-styled-engine/package.json
  packages/mui-system/package.json
Owners: @michaldudak, @mnajdova, @siriwatknp, @danilo-leal

[Joy] Miscellaneous fixes (#34193)
  docs/data/joy/components/list/ExampleCollapsibleList.js
  docs/data/joy/components/list/ListUsage.js
  docs/data/joy/components/list/list.md
  docs/data/joy/components/menu/MenuListGroup.js
  docs/data/joy/components/tabs/TabsPageExample.js
  docs/data/joy/components/tabs/TabsPageExample.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/List/List.test.js
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/ListItem/ListItem.test.js
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItem/ListItemProps.ts
  packages/mui-joy/src/ListItem/listItemClasses.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/MenuList/MenuList.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  test/regressions/fixtures/ListJoy/Flexibility.js
Owners: @siriwatknp, @danilo-leal

[test] Replace argos-cli with @argos-ci/core (#34178)
  package.json
  scripts/pushArgos.js
  yarn.lock
Owners: @michaldudak, @m4theushw

[blog] Introducing MUI Base (#33778)
  docs/pages/blog/introducing-mui-base.js
  docs/pages/blog/introducing-mui-base.md
  docs/public/static/blog/introducing-mui-base/card.png
  docs/public/static/blog/introducing-mui-base/hero-image.png
  docs/public/static/blog/introducing-mui-base/switch-slots.png
Owners: none

[Joy UI] Add `Modal` component (#34043)
  docs/data/joy/components/modal/AlertDialogModal.js
  docs/data/joy/components/modal/BasicModal.js
  docs/data/joy/components/modal/BasicModalDialog.js
  docs/data/joy/components/modal/CloseModal.js
  docs/data/joy/components/modal/FadeModalDialog.js
  docs/data/joy/components/modal/KeepMountedModal.js
  docs/data/joy/components/modal/LayoutModalDialog.js
  docs/data/joy/components/modal/ModalUsage.js
  docs/data/joy/components/modal/NestedModals.js
  docs/data/joy/components/modal/ServerModal.js
  docs/data/joy/components/modal/SizeModalDialog.js
  docs/data/joy/components/modal/VariantModalDialog.js
  docs/data/joy/components/modal/modal.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-modal.js
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Modal/CloseModalContext.ts
  packages/mui-joy/src/Modal/Modal.test.tsx
  packages/mui-joy/src/Modal/Modal.tsx
  packages/mui-joy/src/Modal/ModalProps.ts
  packages/mui-joy/src/Modal/index.ts
  packages/mui-joy/src/Modal/modalClasses.ts
  packages/mui-joy/src/ModalClose/ModalClose.test.tsx
  packages/mui-joy/src/ModalClose/ModalClose.tsx
  packages/mui-joy/src/ModalClose/ModalCloseProps.ts
  packages/mui-joy/src/ModalClose/index.ts
  packages/mui-joy/src/ModalClose/modalCloseClasses.ts
  packages/mui-joy/src/ModalDialog/ModalDialog.test.tsx
  packages/mui-joy/src/ModalDialog/ModalDialog.tsx
  packages/mui-joy/src/ModalDialog/ModalDialogProps.ts
  packages/mui-joy/src/ModalDialog/ModalDialogSizeContext.ts
  packages/mui-joy/src/ModalDialog/ModalDialogVariantColorContext.ts
  packages/mui-joy/src/ModalDialog/index.ts
  packages/mui-joy/src/ModalDialog/modalDialogClasses.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/CssVarsProvider.test.tsx
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
  packages/mui-joy/src/styles/extendTheme.ts
  packages/mui-joy/src/styles/types/colorSystem.ts
Owners: @siriwatknp, @danilo-leal

[docs] Fix typo in Joy UI's `Usage` docs (#34200)
  docs/data/joy/getting-started/usage/usage.md
Owners: none

[ListItemText] Fix variant mapping in `primaryTypography` (#33880)
  packages/mui-material/src/ListItemText/ListItemText.js
  packages/mui-material/src/ListItemText/ListItemText.test.js
Owners: @hbjORbj, @siriwatknp

[Joy UI] Add `ListSubheader` component (#34191)
  docs/data/joy/components/list/ListUsage.js
  docs/data/joy/components/list/NestedList.js
  docs/data/joy/components/list/StickyList.js
  docs/data/joy/components/list/list.md
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/List/ListProps.ts
  packages/mui-joy/src/List/NestedListContext.ts
  packages/mui-joy/src/ListItem/ListItem.test.js
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/ListItem/ListItemProps.ts
  packages/mui-joy/src/ListItemButton/ListItemButton.tsx
  packages/mui-joy/src/ListSubheader/ListSubheader.test.tsx
  packages/mui-joy/src/ListSubheader/ListSubheader.tsx
  packages/mui-joy/src/ListSubheader/ListSubheaderContext.ts
  packages/mui-joy/src/ListSubheader/ListSubheaderProps.ts
  packages/mui-joy/src/ListSubheader/index.ts
  packages/mui-joy/src/ListSubheader/listSubheaderClasses.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Owners: @siriwatknp, @danilo-leal

[Timeline] Add left and right aligned timeline demos in docs (#34156)
  docs/data/material/components/timeline/LeftAlignedTimeline.js
  docs/data/material/components/timeline/LeftAlignedTimeline.tsx
  docs/data/material/components/timeline/NoOppositeContent.js
  docs/data/material/components/timeline/NoOppositeContent.tsx
  docs/data/material/components/timeline/RightAlignedTimeline.js
  docs/data/material/components/timeline/RightAlignedTimeline.tsx
  docs/data/material/components/timeline/timeline.md
Owners: none

[docs] Improve link to the security policy (#34219)
  README.md
Owners: none

[Joy][Textarea] Pass `textarea` props from `componentsProps` (#34223)
  packages/mui-joy/src/Textarea/Textarea.test.tsx
  packages/mui-joy/src/Textarea/Textarea.tsx
Owners: @siriwatknp, @danilo-leal

[core] Add RFC GH issue template (#33871)
  .github/ISSUE_TEMPLATE/3.rfc.yml
Owners: none

[Joy] Adjust typography decorator margin (#34257)
  docs/data/joy/components/link/LinkAndTypography.js
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Typography/Typography.tsx
Owners: @siriwatknp, @danilo-leal

[website] Update diamond sponsor URL (#34256)
  README.md
  docs/data/material/discover-more/backers/backers.md
  docs/src/components/home/DiamondSponsors.tsx
  docs/src/components/pricing/FAQ.tsx
  docs/src/modules/components/DiamondSponsors.js
Owners: none

[Radio][Joy] Integrate with form control (#34277)
  docs/data/joy/components/radio/ExampleAlignmentButtons.js
  docs/data/joy/components/radio/ExampleSegmentedControls.js
  docs/data/joy/components/radio/ExampleTiers.js
  docs/data/joy/components/radio/RadioButtonControl.js
  docs/data/joy/components/radio/RadioButtonLabel.js
  docs/data/joy/components/radio/radio.md
  docs/src/modules/components/JoyUsageDemo.tsx
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/FormControl/FormControl.test.tsx
  packages/mui-joy/src/FormControl/FormControl.tsx
  packages/mui-joy/src/FormHelperText/FormHelperText.tsx
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/RadioGroup/RadioGroup.tsx
Owners: @siriwatknp, @danilo-leal

[website] Add Lukas to the about page (#34284)
  docs/pages/about.tsx
  docs/public/static/branding/about/lukas.png
Owners: none

[Joy UI] Add `CircularProgress` component (#33869)
  docs/data/joy/components/circular-progress/CircularProgressButton.js
  docs/data/joy/components/circular-progress/CircularProgressButton.tsx
  docs/data/joy/components/circular-progress/CircularProgressButton.tsx.preview
  docs/data/joy/components/circular-progress/CircularProgressChildren.js
  docs/data/joy/components/circular-progress/CircularProgressChildren.tsx
  docs/data/joy/components/circular-progress/CircularProgressChildren.tsx.preview
  docs/data/joy/components/circular-progress/CircularProgressColors.js
  docs/data/joy/components/circular-progress/CircularProgressColors.tsx
  docs/data/joy/components/circular-progress/CircularProgressDeterminate.js
  docs/data/joy/components/circular-progress/CircularProgressDeterminate.tsx
  docs/data/joy/components/circular-progress/CircularProgressDeterminate.tsx.preview
  docs/data/joy/components/circular-progress/CircularProgressSizes.js
  docs/data/joy/components/circular-progress/CircularProgressSizes.tsx
  docs/data/joy/components/circular-progress/CircularProgressSizes.tsx.preview
  docs/data/joy/components/circular-progress/CircularProgressThickness.js
  docs/data/joy/components/circular-progress/CircularProgressUsage.js
  docs/data/joy/components/circular-progress/CircularProgressVariables.js
  docs/data/joy/components/circular-progress/CircularProgressVariants.js
  docs/data/joy/components/circular-progress/CircularProgressVariants.tsx
  docs/data/joy/components/circular-progress/CircularProgressVariants.tsx.preview
  docs/data/joy/components/circular-progress/circular-progress.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-circular-progress.js
  docs/src/modules/components/JoyUsageDemo.tsx
  docs/src/modules/components/JoyVariablesDemo.tsx
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.spec.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.test.tsx
  packages/mui-joy/src/CircularProgress/CircularProgress.tsx
  packages/mui-joy/src/CircularProgress/CircularProgressProps.ts
  packages/mui-joy/src/CircularProgress/circularProgressClasses.ts
  packages/mui-joy/src/CircularProgress/index.ts
  packages/mui-joy/src/IconButton/IconButton.tsx
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Owners: @siriwatknp, @danilo-leal

[Joy] Fix list value of false or 0 (zero) text is incorrectly grey (#34255)
  packages/mui-joy/src/Select/Select.tsx
Owners: @siriwatknp, @danilo-leal
