Repository IceDev528/material-ui, changes with the owners that .github/CODEOWNERS names for each.
All owners: @michaldudak, @m4theushw, @mnajdova, @siriwatknp, @danilo-leal, @hbjORbj

[blog] Improve SEO metadata (#33954)
  docs/pages/experiments/docs/callouts.js
  docs/src/modules/components/Head.tsx
  docs/src/modules/components/TopLayoutBlog.js
Owners: none

[Radio][Joy] support `componentsProps` as a function (#34022)
  docs/data/joy/components/radio/ExampleAlignmentButtons.js
  docs/data/joy/components/radio/ExampleProductAttributes.js
  docs/data/joy/components/radio/ExampleSegmentedControls.js
  docs/data/joy/components/radio/IconlessRadio.js
  docs/data/joy/components/radio/RadioPositionEnd.js
  docs/data/joy/components/radio/radio.md
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Radio/RadioProps.ts
  packages/mui-joy/src/Radio/radioClasses.ts
Owners: @siriwatknp, @danilo-leal

[TablePagination] Fix select variant not working (#33974)
  packages/mui-material/src/Select/Select.js
  packages/mui-material/src/TablePagination/TablePagination.js
  packages/mui-material/src/TablePagination/TablePagination.test.js
Owners: @michaldudak, @mnajdova, @hbjORbj, @siriwatknp

[Autocompete][material] Fix value overflow when `disableClearable` is… (#34053)
  packages/mui-material/src/Autocomplete/Autocomplete.js
  test/regressions/fixtures/Autocomplete/SizeSmallValueOverflow.js
Owners: @michaldudak, @mnajdova

[docs] Fix missing JSX closing tag in Tooltip docs (#34064)
  docs/data/material/components/tooltips/tooltips.md
Owners: none

[Slider] Remove SliderInput export from d.ts (#34055)
  packages/mui-material/src/Slider/Slider.d.ts
Owners: @michaldudak, @mnajdova

[blog] Making customizable components (#33183)
  docs/pages/blog/making-customizable-components.js
  docs/pages/blog/making-customizable-components.md
  docs/public/static/blog/making-customizable-components/FilterPanel.png
  docs/public/static/blog/making-customizable-components/bruce.gif
  docs/public/static/blog/making-customizable-components/card.jpg
  docs/public/static/blog/making-customizable-components/issueScreenshot.png
  docs/public/static/blog/making-customizable-components/switchHighlighted.png
  docs/public/static/blog/making-customizable-components/uglySwitches.png
Owners: none

[docs] Fixing Joy UI usage snippet (#34049)
  docs/data/joy/getting-started/usage/usage.md
Owners: none

[website] Fix `DatePicker` component demo on the home page (#34054)
  docs/src/components/showcase/ThemeDatePicker.tsx
Owners: none

[website] Improve visual look of code demos (#34070)
  docs/src/components/action/Frame.tsx
  docs/src/components/productCore/CoreStyling.tsx
  docs/src/components/productCore/CoreTheming.tsx
Owners: none

[Autocomplete] Update unstyled demo to not import Material UI (#34060)
  docs/data/material/components/autocomplete/UseAutocomplete.js
  docs/data/material/components/autocomplete/UseAutocomplete.tsx
Owners: none

[core] Fix prop-type warning in regression tests (#34086)
  .circleci/config.yml
  test/regressions/index.js
Owners: none

[docs] Fix 301 links to tss's docs
  docs/data/material/migration/migration-v4/migrating-from-jss.md
Owners: none

[website] Improve SEO meta description for MUI X
  docs/pages/x.tsx
Owners: none

[Joy] Fix `role` proptypes (#34119)
  packages/mui-joy/src/ListItem/ListItem.tsx
  packages/mui-joy/src/RadioGroup/RadioGroup.tsx
Owners: @siriwatknp, @danilo-leal

[docs] Fix typo in `Select` component (#34091)
  docs/data/joy/components/select/select.md
Owners: none

[Select][base] Fix typo in listbox blur event handler (#34120)
  packages/mui-base/src/SelectUnstyled/useSelect.ts
Owners: @michaldudak, @mnajdova

[docs] Fix 404 link from Joy to React Router (#34115)
  docs/data/joy/components/link/link.md
  docs/data/material/guides/routing/routing.md
  examples/nextjs-with-typescript/README.md
  examples/nextjs/README.md
Owners: none

[Select][joy] Improve the a11y on the select field demo (#34073)
  docs/data/joy/components/select/SelectFieldDemo.js
Owners: none

[docs] Fix Gatsby sample config in CSS variables (#34024)
  docs/data/material/experimental-api/css-variables/css-variables.md
Owners: none

[website] Add Toolpad to Navigation (#33937)
  docs/public/static/branding/product-toolpad-dark.svg
  docs/public/static/branding/product-toolpad-light.svg
  docs/src/components/footer/EmailSubscribe.tsx
  docs/src/components/header/HeaderNavBar.tsx
  docs/src/components/header/HeaderNavDropdown.tsx
  docs/src/components/icon/IconImage.tsx
  docs/src/components/typography/SectionHeadline.tsx
  docs/src/layouts/AppFooter.tsx
  docs/src/modules/brandingTheme.ts
  docs/src/modules/components/AppNavDrawer.js
  docs/src/modules/components/GoogleAnalytics.js
  docs/src/modules/components/MuiProductSelector.tsx
  docs/src/route.ts
Owners: none

[core] Offer alternative to `OverridableComponent` via module augmentation for better performance (#32735)
  packages/mui-material/src/OverridableComponentAugmentation.ts
  packages/mui-material/tsconfig.json
  packages/mui-types/OverridableComponentAugmentation.ts
  packages/mui-types/package.json
  packages/mui-types/tsconfig.json
Owners: @mnajdova, @danilo-leal

[Button][base] Prevent too many ref updates (#33882)
  packages/mui-base/src/ButtonUnstyled/useButton.ts
  packages/mui-base/src/ListboxUnstyled/useControllableReducer.test.tsx
  packages/mui-base/src/ListboxUnstyled/useControllableReducer.ts
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
Owners: @michaldudak, @mnajdova

[blog] Add `Grid v2` announcement (#33926)
  docs/pages/blog/build-layouts-faster-with-grid-v2.js
  docs/pages/blog/build-layouts-faster-with-grid-v2.md
  docs/public/static/blog/build-layouts-faster-with-grid-v2/card.jpg
Owners: none

v5.10.3 (#34121)
  CHANGELOG.md
  benchmark/package.json
  docs/package.json
  package.json
  packages/mui-base/package.json
  packages/mui-codemod/package.json
  packages/mui-core-downloads-tracker/package.json
  packages/mui-docs/package.json
  packages/mui-icons-material/package.json
  packages/mui-joy/package.json
  packages/mui-lab/package.json
  packages/mui-material-next/package.json
  packages/mui-material/package.json
  packages/mui-private-theming/package.json
  packages/mui-styled-engine-sc/package.json
  packages/mui-styled-engine/package.json
  packages/mui-styles/package.json
  packages/mui-system/package.json
  packages/mui-types/package.json
  packages/mui-utils/package.json
Owners: @michaldudak, @mnajdova, @siriwatknp, @danilo-leal

[Alert][joy] Add `Alert` component (#33859)
  docs/data/joy/components/alert/AlertColors.js
  docs/data/joy/components/alert/AlertColors.tsx
  docs/data/joy/components/alert/AlertSizes.js
  docs/data/joy/components/alert/AlertSizes.tsx
  docs/data/joy/components/alert/AlertSizes.tsx.preview
  docs/data/joy/components/alert/AlertUsage.js
  docs/data/joy/components/alert/AlertVariants.js
  docs/data/joy/components/alert/AlertVariants.tsx
  docs/data/joy/components/alert/AlertVariants.tsx.preview
  docs/data/joy/components/alert/AlertVariousStates.js
  docs/data/joy/components/alert/AlertVariousStates.tsx
  docs/data/joy/components/alert/AlertWithDangerState.js
  docs/data/joy/components/alert/AlertWithDangerState.tsx
  docs/data/joy/components/alert/AlertWithDecorators.js
  docs/data/joy/components/alert/AlertWithDecorators.tsx
  docs/data/joy/components/alert/alert.md
  docs/data/joy/pages.ts
  docs/pages/joy-ui/react-alert.js
  packages/mui-joy/src/Alert/Alert.spec.tsx
  packages/mui-joy/src/Alert/Alert.test.js
  packages/mui-joy/src/Alert/Alert.tsx
  packages/mui-joy/src/Alert/AlertProps.ts
  packages/mui-joy/src/Alert/alertClasses.ts
  packages/mui-joy/src/Alert/index.ts
  packages/mui-joy/src/index.ts
  packages/mui-joy/src/styles/components.d.ts
  packages/mui-joy/src/styles/extendTheme.spec.ts
Owners: @siriwatknp, @danilo-leal

[test] Allow to pass options to `mousePress` function (#34124)
  test/utils/fireDiscreteEvent.js
  test/utils/userEvent.ts
Owners: none

[Joy] Add tests / classes for `Breadcrumbs` component (#33860)
  packages/mui-joy/src/Breadcrumbs/Breadcrumbs.spec.tsx
  packages/mui-joy/src/Breadcrumbs/Breadcrumbs.test.js
  packages/mui-joy/src/Breadcrumbs/Breadcrumbs.tsx
  packages/mui-joy/src/Breadcrumbs/breadcrumbsClasses.ts
Owners: @siriwatknp, @danilo-leal

[Select][base] Fix type issues that appeared with TS 4.8 (#34132)
  docs/data/base/components/select/UnstyledSelectSimple.tsx
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.spec.tsx
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.tsx
  packages/mui-base/src/MultiSelectUnstyled/MultiSelectUnstyled.types.ts
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.spec.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.tsx
  packages/mui-base/src/SelectUnstyled/SelectUnstyled.types.ts
  packages/mui-base/src/utils/useSlotProps.test.tsx
Owners: @michaldudak, @mnajdova

[core] Sanitize input in icon synonyms update script (#33989)
  docs/scripts/updateIconSynonyms.js
  package.json
Owners: none

[core] Do not append `types` field to packages without index.d.ts (#33952)
  scripts/copy-files.js
Owners: @michaldudak, @m4theushw

[Avatar] Use structured / semantic markup for avatars and avatar groups (#33994)
  docs/pages/material-ui/api/avatar-group.json
  docs/translations/api-docs/avatar-group/avatar-group.json
  packages/mui-material/src/AvatarGroup/AvatarGroup.d.ts
  packages/mui-material/src/AvatarGroup/AvatarGroup.js
  packages/mui-material/src/AvatarGroup/AvatarGroup.spec.tsx
  packages/mui-material/src/AvatarGroup/AvatarGroup.test.js
Owners: @hbjORbj, @siriwatknp

[blog] Fix social cards (#34160)
  docs/public/static/blog/build-layouts-faster-with-grid-v2/card.jpg
  docs/public/static/blog/build-layouts-faster-with-grid-v2/card.png
  docs/public/static/blog/making-customizable-components/card.jpg
  docs/public/static/blog/making-customizable-components/card.png
Owners: none

[Joy] Make the description of `componentsProps` generic (#34140)
  packages/mui-joy/src/AspectRatio/AspectRatio.tsx
  packages/mui-joy/src/AspectRatio/AspectRatioProps.ts
  packages/mui-joy/src/Avatar/Avatar.tsx
  packages/mui-joy/src/Avatar/AvatarProps.ts
  packages/mui-joy/src/Badge/Badge.tsx
  packages/mui-joy/src/Badge/BadgeProps.ts
  packages/mui-joy/src/Breadcrumbs/Breadcrumbs.tsx
  packages/mui-joy/src/Breadcrumbs/BreadcrumbsProps.ts
  packages/mui-joy/src/Button/Button.tsx
  packages/mui-joy/src/Button/ButtonProps.ts
  packages/mui-joy/src/Checkbox/Checkbox.tsx
  packages/mui-joy/src/Checkbox/CheckboxProps.ts
  packages/mui-joy/src/Chip/Chip.tsx
  packages/mui-joy/src/Chip/ChipProps.ts
  packages/mui-joy/src/FormLabel/FormLabel.tsx
  packages/mui-joy/src/FormLabel/FormLabelProps.ts
  packages/mui-joy/src/Input/Input.tsx
  packages/mui-joy/src/Input/InputProps.ts
  packages/mui-joy/src/Link/Link.tsx
  packages/mui-joy/src/Link/LinkProps.ts
  packages/mui-joy/src/Radio/Radio.tsx
  packages/mui-joy/src/Radio/RadioProps.ts
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
  packages/mui-joy/src/Switch/Switch.tsx
  packages/mui-joy/src/Switch/SwitchProps.ts
  packages/mui-joy/src/Textarea/Textarea.tsx
  packages/mui-joy/src/Textarea/TextareaProps.ts
  packages/mui-joy/src/Typography/Typography.tsx
  packages/mui-joy/src/Typography/TypographyProps.ts
Owners: @siriwatknp, @danilo-leal

[docs] Revise Joy UI "Overview" page copy (#34087)
  docs/data/joy/getting-started/overview/overview.md
  docs/src/modules/components/AppLayoutDocs.js
  docs/src/modules/components/AppNavDrawer.js
Owners: none

[docs] Fix a few Base typos (#33986)
  docs/data/base/components/button/button.md
  docs/data/base/components/form-control/form-control.md
  docs/data/base/components/slider/slider.md
Owners: none

[docs] Fix crash due to using wrong variable (#34171)
  docs/src/modules/components/AppNavDrawer.js
Owners: none

[docs] Fix the color contrast on optional API methods (#34127)
  docs/data/material/migration/migration-v4/v5-style-changes-zh.md
  docs/data/material/migration/migration-v4/v5-style-changes.md
  docs/src/modules/components/MarkdownElement.js
  packages/mui-codemod/README.md
Owners: none

[Select][Joy] Fix forwarding listbox `component` prop (#34172)
  docs/data/joy/components/select/SelectGroupedOptions.js
  docs/data/joy/components/select/select.md
  packages/mui-joy/src/List/List.tsx
  packages/mui-joy/src/ListDivider/ListDivider.tsx
  packages/mui-joy/src/Select/Select.tsx
  packages/mui-joy/src/Select/SelectProps.ts
  test/regressions/fixtures/SelectJoy/GroupedOptionSelect.js
Owners: @siriwatknp, @danilo-leal

[core] Reinstate react/no-unused-prop-types eslint rule (#34125)
  .eslintrc.js
  packages/mui-base/src/Portal/Portal.js
  packages/mui-material/src/Hidden/HiddenJs.d.ts
  packages/mui-material/src/Hidden/HiddenJs.js
  packages/mui-material/src/NativeSelect/NativeSelect.js
  packages/mui-material/src/Select/Select.js
Owners: @mnajdova, @michaldudak, @siriwatknp, @hbjORbj

.github/CODEOWNERS:

/scripts/ @michaldudak @m4theushw

# Packages

/packages/mui-base/ @michaldudak @mnajdova
/packages/mui-icons-material/ @michaldudak @siriwatknp
/packages/mui-joy/ @siriwatknp @danilo-leal
/packages/mui-material/ @mnajdova @danilo-leal
/packages/mui-system/ @mnajdova @siriwatknp

# Components - Inputs

/packages/mui-base/src/AutocompleteUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/ButtonUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/FormControlUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/InputUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/MultiSelectUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/OptionGroupUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/OptionUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/SelectUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/SliderUnstyled/ @michaldudak @mnajdova
/packages/mui-base/src/SwitchUnstyled/ @michaldudak @mnajdova

/packages/mui-material/src/Autocomplete/ @michaldudak @mnajdova
/packages/mui-material/src/Button/ @michaldudak @mnajdova
/packages/mui-material/src/ButtonBase/ @michaldudak @mnajdova
/packages/mui-material/src/ButtonGroup/ @michaldudak @mnajdova
/packages/mui-material/src/Checkbox/ @michaldudak @mnajdova
/packages/mui-material/src/Fab/ @michaldudak @mnajdova
/packages/mui-material/src/FilledInput/ @michaldudak @mnajdova
/packages/mui-material/src/FormControl/ @michaldudak @mnajdova
/packages/mui-material/src/FormControlLabel/ @michaldudak @mnajdova
/packages/mui-material/src/FormGroup/ @michaldudak @mnajdova
/packages/mui-material/src/FormHelperText/ @michaldudak @mnajdova
/packages/mui-material/src/FormLabel/ @michaldudak @mnajdova
/packages/mui-material/src/IconButton/ @michaldudak @mnajdova
/packages/mui-material/src/Input/ @michaldudak @mnajdova
/packages/mui-material/src/InputAdornment/ @michaldudak @mnajdova
/packages/mui-material/src/InputBase/ @michaldudak @mnajdova
/packages/mui-material/src/InputLabel/ @michaldudak @mnajdova
/packages/mui-material/src/NativeSelect/ @michaldudak @mnajdova
/packages/mui-material/src/OutlinedInput/ @michaldudak @mnajdova
/packages/mui-material/src/Radio/ @michaldudak @mnajdova
/packages/mui-material/src/RadioGroup/ @michaldudak @mnajdova
/packages/mui-material/src/Rating/ @michaldudak @mnajdova
/packages/mui-material/src/Select/ @michaldudak @mnajdova
/packages/mui-material/src/Slider/ @michaldudak @mnajdova
/packages/mui-material/src/Switch/ @michaldudak @mnajdova
/packages/mui-material/src/TextField/ @michaldudak @mnajdova
/packages/mui-material/src/ToggleButton/ @michaldudak @mnajdova
/packages/mui-material/src/ToggleButtonGroup/ @michaldudak @mnajdova
/packages/mui-material/src/useAutocomplete/ @michaldudak @mnajdova
/packages/mui-material/src/useTouchRipple/ @michaldudak @mnajdova

# Components - Data display

/packages/mui-base/src/BadgeUnstyled/ @hbjORbj @siriwatknp @michaldudak

/packages/mui-material/src/Avatar/ @hbjORbj @siriwatknp
/packages/mui-material/src/AvatarGroup/ @hbjORbj @siriwatknp
/packages/mui-material/src/Badge/ @hbjORbj @siriwatknp
/packages/mui-material/src/Chip/ @hbjORbj @siriwatknp
/packages/mui-material/src/Divider/ @hbjORbj @siriwatknp
/packages/mui-material/src/Icon/ @hbjORbj @siriwatknp
/packages/mui-material/src/List/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItem/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemAvatar/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemButton/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemIcon/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemSecondaryAction/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListItemText/ @hbjORbj @siriwatknp
/packages/mui-material/src/ListSubheader/ @hbjORbj @siriwatknp
/packages/mui-material/src/SvgIcon/ @hbjORbj @siriwatknp
/packages/mui-material/src/Table/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableBody/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableCell/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableContainer/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableFooter/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableHead/ @hbjORbj @siriwatknp
/packages/mui-material/src/TablePagination/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableRow/ @hbjORbj @siriwatknp
/packages/mui-material/src/TableSortLabel/ @hbjORbj @siriwatknp
/packages/mui-material/src/Tooltip/ @hbjORbj @siriwatknp
/packages/mui-material/src/Typography/ @hbjORbj @siriwatknp

# Components - Feedback

/packages/mui-material/src/Alert/ @siriwatknp @hbjORbj
/packages/mui-material/src/AlertTitle/ @siriwatknp @hbjORbj
/packages/mui-material/src/Backdrop/ @siriwatknp @hbjORbj
/packages/mui-material/src/CircularProgress/ @siriwatknp @hbjORbj
/packages/mui-material/src/Dialog/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogContentText/ @siriwatknp @hbjORbj
/packages/mui-material/src/DialogTitle/ @siriwatknp @hbjORbj
/packages/mui-material/src/LinearProgress/ @siriwatknp @hbjORbj
/packages/mui-material/src/Snackbar/ @siriwatknp @hbjORbj
/packages/mui-material/src/SnackbarContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/Skeleton/ @siriwatknp @hbjORbj

# Components - Surfaces

/packages/mui-material/src/Accordion/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionDetails/ @siriwatknp @hbjORbj
/packages/mui-material/src/AccordionSummary/ @siriwatknp @hbjORbj
/packages/mui-material/src/AppBar/ @siriwatknp @hbjORbj
/packages/mui-material/src/Card/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardActionArea/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardActions/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardContent/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardHeader/ @siriwatknp @hbjORbj
/packages/mui-material/src/CardMedia/ @siriwatknp @hbjORbj
/packages/mui-material/src/Paper/ @siriwatknp @hbjORbj
/packages/mui-material/src/Toolbar/ @siriwatknp @hbjORbj
/packages/mui-material/src/useScrollTrigger/ @siriwatknp @hbjORbj

# Components - Navigation

/packages/mui-base/src/MenuItemUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/MenuUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TabPanelUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TabsListUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TabsUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TabUnstyled/ @hbjORbj @mnajdova @michaldudak
/packages/mui-base/src/TablePaginationUnstyled/ @hbjORbj @mnajdova @michaldudak

/packages/mui-material/src/BottomNavigation/ @hbjORbj @mnajdova
/packages/mui-material/src/BottomNavigationAction/ @hbjORbj @mnajdova
/packages/mui-material/src/Breadcrumbs/ @hbjORbj @mnajdova
/packages/mui-material/src/Drawer/ @hbjORbj @mnajdova
/packages/mui-material/src/Link/ @hbjORbj @mnajdova
/packages/mui-material/src/Menu/ @hbjORbj @mnajdova
/packages/mui-material/src/MenuItem/ @hbjORbj @mnajdova
/packages/mui-material/src/MenuList/ @hbjORbj @mnajdova
/packages/mui-material/src/MobileStepper/ @hbjORbj @mnajdova
/packages/mui-material/src/Pagination/ @hbjORbj @mnajdova
/packages/mui-material/src/PaginationItem/ @hbjORbj @mnajdova
/packages/mui-material/src/SpeedDial/ @hbjORbj @mnajdova
/packages/mui-material/src/SpeedDialAction/ @hbjORbj @mnajdova
/packages/mui-material/src/SpeedDialIcon/ @hbjORbj @mnajdova
/packages/mui-material/src/Step/ @hbjORbj @mnajdova
/packages/mui-material/src/StepButton/ @hbjORbj @mnajdova
/packages/mui-material/src/StepConnector/ @hbjORbj @mnajdova
/packages/mui-material/src/StepContent/ @hbjORbj @mnajdova
/packages/mui-material/src/StepIcon/ @hbjORbj @mnajdova
/packages/mui-material/src/StepLabel/ @hbjORbj @mnajdova
/packages/mui-material/src/Stepper/ @hbjORbj @mnajdova
/packages/mui-material/src/SwipeableDrawer/ @hbjORbj @mnajdova
/packages/mui-material/src/Tab/ @hbjORbj @mnajdova
/packages/mui-material/src/Tabs/ @hbjORbj @mnajdova
/packages/mui-material/src/TabScrollButton/ @hbjORbj @mnajdova
/packages/mui-material/src/usePagination/ @hbjORbj @mnajdova

# Components - Layout

/packages/mui-material/src/Box/ @siriwatknp @hbjORbj
/packages/mui-material/src/Container/ @siriwatknp @hbjORbj
/packages/mui-material/src/Grid/ @siriwatknp @hbjORbj
/packages/mui-material/src/Hidden/ @siriwatknp @hbjORbj
/packages/mui-material/src/ImageList/ @siriwatknp @hbjORbj
/packages/mui-material/src/ImageListItem/ @siriwatknp @hbjORbj
/packages/mui-material/src/ImageListItemBar/ @siriwatknp @hbjORbj
/packages/mui-material/src/Stack/ @siriwatknp @hbjORbj
/packages/mui-material/src/Unstable_Grid2/ @siriwatknp @hbjORbj

# Components - Utils

/packages/mui-base/src/ClickAwayListener/ @mnajdova @michaldudak
/packages/mui-base/src/ModalUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/NoSsr/ @mnajdova @michaldudak
/packages/mui-base/src/PopperUnstyled/ @mnajdova @michaldudak
/packages/mui-base/src/Portal/ @mnajdova @michaldudak
/packages/mui-base/src/TextareaAutosize/ @mnajdova @michaldudak
/packages/mui-base/src/TrapFocus/ @mnajdova @michaldudak

/packages/mui-material/src/ClickAwayListener/ @mnajdova @michaldudak
/packages/mui-material/src/Collapse/ @mnajdova @michaldudak
/packages/mui-material/src/CssBaseline/ @mnajdova @michaldudak
/packages/mui-material/src/Fade/ @mnajdova @michaldudak
/packages/mui-material/src/GlobalStyles/ @mnajdova @michaldudak
/packages/mui-material/src/Grow/ @mnajdova @michaldudak
/packages/mui-material/src/Modal/ @mnajdova @michaldudak
/packages/mui-material/src/NoSsr/ @mnajdova @michaldudak
/packages/mui-material/src/Popover/ @mnajdova @michaldudak
/packages/mui-material/src/Popper/ @mnajdova @michaldudak
/packages/mui-material/src/Portal/ @mnajdova @michaldudak
/packages/mui-material/src/ScopedCssBaseline/ @mnajdova @michaldudak
/packages/mui-material/src/Slide/ @mnajdova @michaldudak
/packages/mui-material/src/TextareaAutosize/ @mnajdova @michaldudak
/packages/mui-material/src/transitions/ @mnajdova @michaldudak
/packages/mui-material/src/Unstable_TrapFocus/ @mnajdova @michaldudak
/packages/mui-material/src/useMediaQuery/ @mnajdova @michaldudak
/packages/mui-material/src/Zoom/ @mnajdova @michaldudak
